@charset "UTF-8";
/* common.css */

/* 공통 적용 */
.dis_none {display: none;}

/* 헤더, 푸터 공통 */
header, footer {width: 100%; overflow: hidden;}

/* 헤더 */
header {height: 80px; background: #3cdddf; display: flex;}
header > h1, header > nav {align-content: center;}
header > h1 {width: 40%; height: inherit;}
header > nav {width: 60%; height: inherit; text-align: right; padding: 0 35px;}
header > nav li > a:hover {color: #676767;}

/* 메인 */
main {width: 1200px; margin: 0 auto; overflow: hidden;}

/* 푸터 */
footer {background: #8b8b8b; text-align: center; padding: 25px 0;}
footer > address {font-style: normal;}

/* Tablet 이하 */
@media screen and (max-width: 1024px) {
  main {width: 100%;}
  header > nav {padding: 0 35px;}
}
